EXPO_PUBLIC_FIREBASE_API_KEY=your_api_key_here
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=ai-therapy-app-17451.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=ai-therapy-app-17451
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=ai-therapy-app-17451.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=1037942789896
EXPO_PUBLIC_FIREBASE_APP_ID=1:1037942789896:web:015153017708700710604c
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID=G-88174427
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=your_google_web_client_id.apps.googleusercontent.com
